<h1>{{name}}</h1>
<img src="{{flag}}" alt="flag" width="300">
<p>Capital:{{capital}}</p>
<p>Population:{{population}}</p>
<ul>Languages:
    {{#each languages}}
    <li>{{this}}</li>
    {{/each}}
</ul>`